h1 {
  color: pink;
}

.container {
  display: grid;
  grid-template: 1fr 2fr / 1fr 3fr;
}

.sidebar {
  background-color: #38bdf8;
  grid-row: 1 / 3;
}

.main-content {
  background-color: rgb(180, 180, 180);
}